{% extends 'base.html'%}
{% import 'macros.html' as macro%} 
<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to News-API </title>
    {% endif %}
</head>
<body>
    <!-- Content block -->
    {%block content%}

    <!-- Business sources -->
     <h3> Business</h3>
     <ul>
        {{ macro.displaySourceList(business)}}
    </ul>

    <!-- technology sources -->
    <h3> Technology </h3>
     <ul>
         
        {{ macro.displaySourceList(technology)}}
    </ul>
    <!-- general category source -->
    <h3>General</h3>
     <ul>
        
        {{ macro.displaySourceList(general)}}
    
    </ul>
    {% endblock%}
</body>
</html>