<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ARTICLES</h1>
        <hr>
        {%for articles in article%}
        <h1>{{articles.title}}</h1>
        <img src ="{{articles.urlToImage}}" alt="">
        <p>{{articles.content}}</p>
        <div>
            <a href="{{articles.url}}"><button class= "btn btn-secondary btn-lg" type="button"> More.....</button></a>
    
        </div>
        <p class="text-muted">By:{{articles.author}}</p>
        <p>Posted on:{{article.publishedAt}}</p>
        <br>
        <hr>
        {% endfor %}
    </div>
</body>
</html>
 